name: Android CI Build APK

on: 
  push: 
    branches: [ "master" ] 
  pull_request: 
    branches: [ "master" ] 

jobs: 
  build: 
    runs-on: ubuntu-latest 

    steps: 
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Set up JDK 8 
        uses: actions/setup-java@v4 
        with: 
          java-version: '8' 
          distribution: 'temurin' 
          cache: gradle 

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        env:
          # This is the magic line that fixes your current error
          SKIP_JDK_VERSION_CHECK: true 

      - name: Accept Android Licenses
        # We add the env flag here as well just to be safe
        run: yes | sdkmanager --licenses || true
        env:
          SKIP_JDK_VERSION_CHECK: true

      - name: Grant execute permission for gradlew 
        run: chmod +x gradlew 

      - name: Build Debug APK 
        run: ./gradlew assembleDebug --no-daemon --stacktrace

      - name: Upload Debug APK Artifact 
        uses: actions/upload-artifact@v4 
        with: 
          name: app-debug-apk
          path: app/build/outputs/apk/debug/*.apk
          if-no-files-found: error
