name: Android CI Build Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: gradle
          
      - name: Install Android Build Tools 27.0.3
        run: |
          echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --sdk_root=$ANDROID_HOME "build-tools;27.0.3"
          echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --sdk_root=$ANDROID_HOME "platforms;android-27"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease
        env:
          ANDROID_NDK_HOME: ""

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          # Match this to your build.gradle version
          BUILD_TOOLS_VERSION: "27.0.3"

      - name: Rename for Release
        id: rename_apk
        run: |
          raw_tag=${GITHUB_REF#refs/tags/}
          # If triggered via workflow_dispatch (no tag), use 'manual'
          if [ "$raw_tag" = "workflow_dispatch" ] || [ "$raw_tag" = "master" ]; then
            clean_tag="manual"
          else
            clean_tag="${raw_tag//./}"
          fi
          
          signed_file="${{ steps.sign_app.outputs.signedReleaseFile }}"
          new_name="auto-light-${clean_tag}.apk"
          
          mv "$signed_file" "app/build/outputs/apk/release/$new_name"
          echo "new_path=app/build/outputs/apk/release/$new_name" >> $GITHUB_OUTPUT

      - name: Create GitHub Release and Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ steps.rename_apk.outputs.new_path }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
